body, main, html {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

body {
  background-image: linear-gradient(to right, rgb(11, 11, 11), #105c9e, rgb(11, 11, 11));
  background-size: 100% 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}  

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headerIcons {
  width: 64px;
  height: 64px;
  margin: 0px 120px;
}

.imageSize {
  padding: 30px 0px;
  width: 340px;
  height: 340px;
}

.caixa {
  background: #2C7785;
  width: 350px;
  height: 350px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btn1 {
  background: #2C3F85;
  padding: 15px 65px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
}

.btn2 {
  background: #000;
  padding: 15px 80px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
}